<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/master.css">
    <title>Web Layouts</title>
  </head>

  <body>
    <div class="navbar">
      <ul>
        <li class="current"><a href="../index2.html">Home</a></li>
        <li> <a href="single.html">Single</a> </li>
        <span class="navbarActive"><li> <a href="double.html">Double</a> </li></span>
        <li> <a href="triple.html">Triple</a> </li>
      </ul>
    </div>

    <div class="paragraph">
      <div class= "layoutDemoDouble">
        <img src="../images/narrow1.jpg" class="twoColumnImage"/>
        <img src="../images/narrow2.jpg" class="twoColumnImage"/>
      </div>
      <h1> Toraders Layout </h1>
      <hr>
      Denne typen layout må brukes med omhu. Det finnes et brytningspunkt der
      de tre elementene blir så smale at alt ser rart ut. Denne bypen visning egner
      seg best på brede skjermer, og dermed dårlig på mobil.
    </div>
  </body>
</html>
