<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/master.css">
    <title>Web Layouts</title>
  </head>

  <body>
    <div class="navbar">
      <ul>
        <li class="current"><a href="../index2.html">Home</a></li>
        <span class="navbarActive"><li> <a href="single.html">Single</a> </li></span>
        <li> <a href="double.html">Double</a> </li>
        <li> <a href="triple.html">Triple</a> </li>
      </ul>
    </div>

    <div class="paragraph">
      <img src="../images/scifi.jpg" class="wideImage"/>

      <h1> Enraders layout </h1>
      <hr>
      Dette er den aller simpleste formen for layout, og den som er mest brukt
      når en lager sider til mobil. Det er ukomplisert og lett å se på. Pass på
      å bruke elementer som bryter teksten og gjør den luftig. En &lthr&gt kan
      gjøre undere for lesbarheten på en side. Det kan &ltbr&gt også.
    </div>
  </body>
</html>
