<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/master.css">
    <title>Web Layouts</title>
  </head>

  <body>
    <div class="navbar">
      <ul>
        <li class="current"><a href="../index2.html">Home</a></li>
        <li> <a href="single.html">Single</a> </li>
        <li> <a href="double.html">Double</a> </li>
        <span class="navbarActive"><li> <a href="triple.html">Triple</a> </li></span>
      </ul>
    </div>

    <div class="paragraph">
      <div class= "layoutDemoDouble">
        <img src="../examples/narrow.jpg" class="threeColumnImage"/>
        <img src="../examples/narrow2.jpg" class="threeColumnImage"/>
        <img src="../examples/narrow3.jpg" class="threeColumnImage"/>
      </div>
      <h1> Treaders Layout </h1>
      <hr>
      Denne typen layout må brukes med omhu, akkurat som tokolonners layout.
      Det finnes et brytningspunkt der de tre elementene blir så smale at
      designet ser rart ut. Denne typen visning egner
      seg best på brede skjermer, og dermed dårlig på mobil. da må bildene komme
      under hverandre. I eksempelet ser du en sammenligning av tre effekter laget
      i programmet paint.net. Originalbildet er til venstre, det i midten er
      krystallisert, og det til venstre er frostet.
    </div>
  </body>
</html>
