.fashionWrapper {
  width: 60%;
  height:  1500px;
  background-color: rgb(55, 195, 237, 0.9);
  margin: 0 auto;
}

.navbar {
    width: 100%;
    position: sticky;
    top:0;
    background-color: white;
}


.navbarElement:hover {
  color: red;
  background-color: powderblue;
}

.active a{
  background-color: rgb(170, 189, 191);

}

body {
      background-image: url("../images/bg_picchu.jpg");
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
}
.navbar current{
  background-color: blue;
}
.navbar ul a {
  display: block;
  color: red;
  text-decoration: none;
  padding: 15px 15px;

}

.navbar ul a:hover {
  background-color: green;
}

.navbar li {
  float: left;
  font-size: large;
}

p {
  padding: 20px;
  width:  80%;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}
.thumb {
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: gray;
}
.thumb img {
  display: inline;
  height: 200px;
  margin: 50px;
  border-radius: 5px;
  border-width: 2px;
  border-color: orchid;
  border-style: groove;
}
