<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1> Home page </h1>
    <p> I was landed, I has kittens </p>

  </body>
</html>
